<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="MsnRobotDbPath" value="MSNRobitDB.mdb" />
      <add key="MsnAccount" value="jmq666@hotmail.com" />
      <add key="MsnPassword" value="" />
      <add key="MsnRobotWelcome" value="您好！！！我是Msn机器人：）\r\n请尽情和我聊天吧。。。" />
    </appSettings>
</configuration>